<script>
    document.querySelector('#logout-button').onclick = () => {
        // Delete JWT
        document.cookie = 'jwttoken=;path=/'
        // Redirect to login page
        window.location.href = 'https://blitzchatapp.herokuapp.com/accounts'
        
    }
</script>
</body>
</html>
