<script>
    document.querySelector('#logout-button').onclick = () => {
        // Delete JWT
        document.cookie = 'jwttoken=;path=/'
        // Redirect to login page
        window.location.href = 'https://blitzchatapp.herokuapp.com/accounts'
        
    }
</script>
<script src="https://raw.githubusercontent.com/cure53/DOMPurify/main/src/purify.js"></script>
</body>
</html>
