<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Index</title>
</head>

<body class="container justify-content-center">
    <h1>Hello, <%= currentUser.username %>
    </h1>
    <div class="row row-cols-lg-2 row-cols-sm-1">
        <% rooms.forEach(function(room) { %>
            <div class="col">
                <div class="card text-center mb-4">
                    <h5 class="card-header">
                        <%= room.name %>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <%= room.description %>
                        </p>
                        <a href="/rooms/<%= room.name %>" class="btn btn-primary">Join Room</a>
                    </div>
                </div>
            </div>
            
        <% }) %>
    </div>
</body>

</html>