<%- include('_header') %>
    <h2>Create a room</h2>
    <form id="create-room">
        <input type="text" id="room-name" class="form-control" placeholder="Name">
        <select id="room-type" class="form-control">
            <option value="" selected disabled>Type</option>
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>
        <textarea id="room-description" class="form-control" placeholder="Description" cols="20" rows="5"></textarea>
        <input type="text" id="room-tags" class="form-control" placeholder="Tags">
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <h1>Your Rooms</h1>
    <div id="user-rooms" class="flex-container rooms">
    </div>
    <h1>Joined Rooms</h1>
    <div id="joined-rooms" class="flex-container rooms">
    </div>
    <h1>Public Rooms</h1>
    <form id="search-form">
        <div class="mb-3 mx-auto">
            <label for="q" class="form-label">Search Public Rooms</label>
            <input type="text" class="form-control" id="search-public-rooms">
        </div>
    </form>
    <div id="public-rooms" class="flex-container rooms">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="http://127.0.0.1:3000/searchPublicRooms.js"></script>
    <script src="http://127.0.0.1:3000/index.js"></script>
    <script>

    </script>

    <%- include('_footer') %>