<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Room</title>
</head>

<body class="container justify-content-center">
    <h1>
        <%= room.name %> Room
    </h1>
    <form id="chat-form">
        <textarea type="text" class="form-control mb-2" id="chatMessage" placeholder="Message"></textarea>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <h2>Users</h2>
    <ul id="users" class="list-group"></ul>
    <h2>Messages</h2>
    <div id='chat' class="container justify-content-center">

    </div>
    <script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.1.3/marked.min.js" integrity="sha512-AD+GG1nJKO4Je/Q8QsY1gM9/7o1QjpGe9W2Lrg1oGtEID/RX8bMKKZGgw/KOODkPXL6j74c6eJWAhE/3F2kKjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="http://127.0.0.1:3000/messages.js"></script>
    <script src="http://127.0.0.1:3000/main.js"></script>

    <script>
    </script>
</body>

</html>